# Rust build artifacts
/target
Cargo.lock
**/*.rs.bk
*.pdb

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Build output
dist
dist-ssr

# IDE
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Test coverage
coverage
